

.navbar-dark{ background-color: #24292e;
  color: hsla(0,0%,100%,.75);
  z-index: 32;}

.nav-link{background: transparent;color: #fff !important;transition: .4s;}

.text-white {color: #fff!important; }
